@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: "나눔고딕", roboto, sans-serif;
}

header,
section,
footer {
    width: 100%;
    /*  
    width:480px;안드로이드 해상도 기준 hdpi(480*960)*/
    margin: 0px auto;
}

section > img,
footer > img {
    width: 100%;
}

header {
    height: 105px;
    background-color: #fff;
    padding-top: 10px;
    position: fixed;
    top: 0px;
}

header:not(.gnb_bottom) {
    position: fixed;
    top: 0px;
}

header > h1 {
    width: 52px;
    height: 55px;
    background-image: url('img/sprite__header.png');
    background-size: 400px;
    background-position: 0px 2px;
    float: left;
    margin-left: 5px;
}

header > h1 > a {
    display: block;
    height: 55px;
    text-indent: -9999px;
}

.search {
    border: 1px solid #4598f8;
    width: 68%;
    height: 40px;
    border-radius: 25px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

#search_box {
    border: none;
    height: 30px;
    width: 72%;
    /*            오른쪽 버튼 들어갈자리 뺀 값*/
    transform: translate(10px, 5px);
    /*            위에랑 왼쪽 띄기 margin으로 해도 됨.*/

}

.search > label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('img/sprite__header.png');
    background-position: -51px 1px;
    background-size: 400px;
    transform: translate(27px, -2px);
    text-indent: -9999px;
}

#cart {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url('img/sprite__header.png');
    background-size: 400px;
    background-position: -82px 0px;
    float: right;
    text-indent: -9999px;
    margin-top: 5px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header > nav {
    clear: both;
    transform: translateY(8px);
}

.gnb {
    background-color: #4598f8;
    height: 42px;
}

.gnb > ul {
    text-align: center;
}

.gnb > ul > li {
    display: inline-block;
}

.gnb > ul > li > a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 42px;
    padding: 0px 4px;

}

.gnb_bottom {
    height: 52px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    bottom: 8px;
    z-index: 1000;


}

.gnb_bottom > ul {}

.gnb_bottom > ul > li {
    height: 52px;
    display: inline-block;
    background-image: url('img/sprite__header.png');
    background-size: 400px;
    margin: 0px 23px;


}

.gnb_bottom > ul > li > a {
    height: 52px;
    display: block;
    text-indent: -9999px;

}

.gnb_bottom > ul > li:first-child {
    width: 52px;
    height: 52px;
    background-position: 231px 0px;
}

.gnb_bottom > ul > li:first-child:hover {
    background-position: 231px -56px;
}

.gnb_bottom > ul > li:nth-child(2) {
    width: 52px;
    height: 52px;
    background-position: 178px 0px;
}

.gnb_bottom > ul > li:nth-child(2):hover {
    background-position: 178px -56px;
}

.gnb_bottom > ul > li:nth-child(3) {
    width: 26px;
    height: 52px;
    background-position: 125px 0px;
}

.gnb_bottom > ul > li:nth-child(3):hover {
    background-position: 125px -56px;
}

.gnb_bottom > ul > li:nth-child(4) {
    width: 38px;
    height: 52px;
    background-position: 99px -1px;
}

.gnb_bottom > ul > li:nth-child(4):hover {
    background-position: 99px -57px;
}

.gnb_bottom > ul > li:last-child {
    width: 59px;
    height: 52px;
    background-position: 59px 0px;
}

.gnb_bottom > ul > li:last-child:hover {
    background-position: 59px -56px;
}

#top_btn {
    width: 41px;
    height: 41px;
    background-image: url("img/footer.png");
    background-position: -435px -359px;
    position: fixed;
    bottom: 62px;
    right: 10px;

}

#top_btn > a {
    display: block;
    height: 41px;
    text-indent: -9999px;
}
