@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "나눔고딕", arial, sans-serif;
    font-size: 14px;
}

header {
    width: 100%;
    position: absolute;
}

div.header_inner {
    width: 1280px;
    height: 165px;
    background-color: #46b8e2;
    margin: 0px auto;
    position: relative;
}

div.header_inner > h1 {
    width: 492px;
    height: 65px;
    position: absolute;
    top: 40px;
    left: 394px;

}

div.header_inner > .gnb {
    width: 840px;
    height: 40px;
    line-height:40px;
    background-color: #b485f5;
    position: absolute;
    bottom: 0px;
    left: 221px;
    text-align: center;
}

div.header_inner > .lnb_l {
    width: 180px;
    height: 28px;
    line-height:28px;
    background-color: #ff685c;
    position: absolute;
    top: 4px;
    left: 0px;
}

div.header_inner > .lnb_r {
    width: 240px;
    height: 28px;
    background-color: #ff4fae;
    position: absolute;
    top: 4px;
    right: 0px;
}

#visual {
    width: 100%;
    height: 830px;
    background-color: #e1ff8e;
}
